*{
    margin: 0;
    padding: 0;
}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 'Microsoft YaHei',Tahoma,Helvetica,SimSun,sans-serif,arial,\5b8b\4f53;color:#333;outline:0;}
.wrap{
    background: url("../img/body_bg.gif");
    min-height: 800px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;

}
a:hover{
    text-decoration: underline;

}
.container{
    width: 1120px;
    margin: 0 auto;
    background: #fff;
    min-height: 800px;
    margin-bottom: 20px;
}
    .header img{
        width: 100%;
    }
    .content{
        padding-top: 20px;
        padding-left: 10px;
    }
        .info-77day{
            padding-right: 20px;
        }
            .info-content{
                padding-top: 10px;
                padding-bottom: 72px;
            }
            .info-content h1{
                font-size: 18px;
                padding-bottom: 26px;
                color: #0791ee;
            }
            .info-content h2{
                font-size: 14px;
                padding-bottom: 20px;
                padding-top: 5px;

            }
            .info-content p{
                font-size: 14px;
                line-height: 26px;
                text-indent: 2em;
            }
                .item-list li{
                    font-size: 14px;
                    padding: 5px 0 5px 10px;
                }
        .main{
            width: 780px;
            float: left;
        }
            .main-header{
                padding-right: 20px;
                position: relative;
            }
                .section-tab{
                    font: 18px/40px "Microsoft YaHei";
                    height: 40px;
                    border-bottom: 1px solid #0791ee;
                    color: #0791ee
                }
                    .section-tab .icon{
                        float: left;
                        width: 26px;
                        height: 26px;
                        margin: 6px 10px 0 0;
                        background: url(../img/title_icon.png) no-repeat left top;
                    }

            .article-container{
                padding-right: 20px;
                border-right: 4px solid #0791ee;
            }
                .info-list li{
                    position: relative;
                    margin-bottom: 10px;
                }
                .info-list li h1{
                    height: 40px;
                    line-height: 40px;
                }

                .info-list li h1 a{
                    font-size: 14px;
                    color: #333;
                }
                .info-list li h1 a:hover{
                    color: #0791ee;
                }
                    .info-img{
                        width: 210px;
                        float: left;
                    }
                    .info-text{
                        float: left;
                        width: 500px;
                        padding-left: 20px;
                        font-size: 14px;
                        line-height: 28px;
                        padding-top: 20px;
                    }
            .img-list{
                padding: 10px 0;
            }
                .img-item li{
                    width: 380px;
                    float: left;
                    font-size: 14px;
                    padding-top: 10px;
                }
                .img-item li img{
                    width: 380px;
                    cursor: pointer;
                }
        .info-full{
            position: absolute;
            right: 0;
            bottom: 0;
            color: #0791ee;
        }
    .side-bar{
        width: 300px;
        float: right;
        margin-right: 10px;
        padding-bottom: 20px;
    }
        .section-block{
            padding: 10px 0;
        }
            .section-block p{
                font-size: 14px;
                line-height: 24px;
            }
            .section-block h1{
                font-size: 16px;
                font-weight: 100;
            }
        .contact-img img{
            width: 300px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
            .video{
                width: 100%;
                height: 340px;
                position: relative;
                overflow: hidden;
            }
                .video-list{
                    position: absolute;
                }
                    .video-list li{
                        width: 300px;
                        height: 340px;
                        margin: 10px 0;
                    }
                        .video-title{
                            height: 20px;
                            line-height: 20px;
                            font-size: 14px;
                            padding-bottom: 10px;
                        }
    /**µØ≥ˆ≤„…Ë÷√**/
    .close-btn{
        position: absolute;
        height: 23px;
        width: 23px;
        background: url("../img/from-close-icon.png") no-repeat;
        right: -6px;
        top: -6px;
        cursor: pointer;
    }
    #big-img{
        width: 960px;
    }
    .footer{
        width: 1100px;
        margin: 0 auto;
        text-align: center;
        padding: 20px 10px 0 10px;
        background: #fff;
    }
        .footer-info{
            padding: 20px 0;
            border-top: 1px solid #ebebeb;
        }
            .footer-info p{
                font-size: 12px;
                line-height: 24px;
            }
.mr20{
    margin-right: 20px;
}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}