*{margin: 0;padding: 0;}
html{font-size:40px;}
body{
    font: 0.6rem arial,'Microsoft YaHei';
    font-size-adjust: none;
}


//…Ë÷√
@rex:1rem/40;
.wrap{
    width: 100%;
    margin: 0 auto;
}
.main-header{
    height: 311*@rex;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    padding-left: 230*@rex;
    position: relative;

    .icon-r{
        position: absolute;
        left: 40*@rex;
        top: 60*@rex;
        width: 130*@rex;
        height: 100*@rex;
        border: 10*@rex solid #eaeaea;
        background: #474747;
        border-radius: 130*@rex;
        text-align: center;
        color: #fff;
        display: table;
        vertical-align: middle;
        font-size: 38*@rex;
        padding-top: 30*@rex;
    }
    .bar{
        height: 60*@rex;
        width: 6*@rex;
        left: 112*@rex;
        position: absolute;
        top: 0;
        background:#eaeaea ;
    }
    h1{
        padding-top: 106*@rex;
        font-size: 48*@rex;
        height: 48*@rex;
        padding-bottom: 30*@rex;
        font-weight: 100;
        line-height: 48*@rex;
    }
    h2{
        font-size: 38*@rex;
        height: 38*@rex;
        line-height: 38*@rex;
        padding-bottom: 90*@rex;
        font-weight: 100;
    }
}
.section-header{
    border-bottom: 1px solid #eaeaea;
    background: #f9f9f9;
    padding-left: 56*@rex;
    font-size: 44*@rex;
    h1{
        font-weight: 100;
        height: 147*@rex;
        line-height: 147*@rex;
        font-size: 44*@rex;
        position: relative;
        padding-left: 32*@rex;
        i{
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 147*@rex;
            width: 18*@rex;
            background: url("../img/section-icon.png") no-repeat;
            background-size: 100%;
        }
    }
}
.section-detail{
    border-bottom: 1px solid #eaeaea;
    padding: 60*@rex 75*@rex;
    font-size: 44*@rex;
    color: rgb(71,71,71);
    .img-info{
        width:1092*@rex;
        text-align: center;
        img{
            display: inline-block;
            width:800*@rex;
        }
    }
}