*{
    margin: 0;
    padding: 0;
}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 'Microsoft YaHei',Tahoma,Helvetica,SimSun,sans-serif,arial,\5b8b\4f53;color:#333;outline:0;}
li{list-style: none;}
a{text-decoration: none;}

.wrap{
    min-width: 1120px;
    min-height: 1220px;
}
.top-bar {
    width: 100%;
    height: 35px;
    background: #333
}

.top-bar .top-bar-inner {
    width: 1120px;
    line-height: 35px;
    margin: 0 auto
}

.top-bar a {
    padding: 0 20px;
    color: #999;
    border-left: 1px solid #999
}
.top-bar a:hover{
    color: #de0010;
}
.top-bar a.first {
    padding: 0 20px 0 0;
    border: none;
}

.top-bar .mobile-icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 10px;
    height: 15px;
    margin: 0 5px 0 0;
    background: url(../img/mobile.png) no-repeat;
}



/***首页大banner****/
.banner{
    height: 620px;
    min-width: 1120px;
    background: url("../img/test-ad.jpg") no-repeat;
    background-position: center center;
}
/**阴影层**/
.banner-container{
    height: 620px;
    background: url("../img/shadow-bg.png") repeat-x;
}
.banner-content{
    width: 1120px;
    margin: 0 auto;
    position: relative;
}
    .banner-top{
        padding-top:25px;
    }
        .logo{
            float: left;
        }
        .login{
            display: block;
            float: right;
            width: 57px;
            height: 32px;
            color: #fff;
            background: #d43832;
            border-radius: 4px;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            margin-right: 8px;
        }
        .sign{
            display: block;
            float: right;
            height: 30px;
            width: 55px;
            background: rgba(0,0,0,0.1);
            color: #fff;
            text-align: center;
            border: 1px solid #fff;
            border-radius: 4px;
            line-height: 32px;
            font-size: 14px;
        }
        /*******搜索框*******/
    .search-container{
        height: 115px;
        width: 644px;
        background: rgba(0,0,0,0.4);
        position: absolute;
        top: 268px;
        left: 50%;
        margin-left: -348px;
        padding:20px 26px;
        border-radius: 4px;
    }
        .search-title{
            color: #fff;
            font-size: 30px;
            padding-bottom: 20px;
        }
        .search-box{
            display: block;
            width: 644px;
            height: 60px;
            position: relative;
        }
        .input-search{
            height: 60px;
            border: none;
            width: 544px;
            padding-left: 20px;
            color: #aaa;
            font-size: 14px;
        }
        .search-icon{
            position: absolute;
            height: 60px;
            width: 83px;
            background: url("../img/search-icon.png") no-repeat;
            right: 0;
            top: 0;
        }
        .search-tip-box{
            position: absolute;
            width: 210px;
            height: 30px;
            right: 90px;
            top: 15px;
        }
        .search-tip{
            height: 30px;
            width: 60px;
            background: #f4f4f4;
            border-radius: 10px;
            display: block;
            float: right;
            line-height: 30px;
            text-align: center;
            color: #aaa;
            margin-right: 7px;
        }
.around-way{
    background: #fff;
}
    .around-way-container{
        width: 1120px;
        margin: 0 auto;
    }
        .big-title{
            font-size: 30px;
            color: #555;
            text-align: center;
            padding: 60px 0;
        }
        .hot-city-list{
            padding-bottom: 40px;
        }
        .hot-city-list li{
            width: 265px;
            height: 280px;
            margin-right: 20px;
            float: left;
            margin-bottom: 20px;
            position: relative;
        }
        .hot-city-list li.rm-mr{
            margin-right: 0;
        }
            .has-way{
                height: 23px;
                width: 80px;
                border-radius: 12px;
                position: absolute;
                background:#37a8cd;
                top: 20px;
                right: 20px;
                overflow: hidden;
                text-align: center;
                color: #fff;
                line-height: 23px;
                font-size: 14px;
            }

            .hot-city-list li img{
                width: 265px;
                height: 200px;

            }
            .city-name{
                font-size: 20px;
                height: 79px;
                width: 263px;
                border: 1px solid #eaeaea;
                border-top: none;
                text-align: center;
                color: #333;
                font-weight: bold;
                line-height: 80px;
            }
                .city-name a{
                    color: #333;
                }

        .city-list{
            min-height: 350px;
        }
    .classical-way{
        background: #f6f6f6;
        min-height: 500px;
    }
        .classical-way-container{
            width: 1120px;
            margin: 0 auto;
        }
        .big-way-box{
            width: 740px;
            height: 444px;
            background: #000000;
            float: left;
            margin-bottom: 20px;
            position: relative;
        }
            .big-way-box a img{
                width: 740px;
                height: 444px;
            }
        .mid-way-box{
            width: 550px;
            height: 330px;
            background: #dbdbdb;
            float: left;
            position: relative;
        }
            .mid-way-box a img{
                width: 550px;
                height: 330px;
            }
        .small-way-box{
            width: 360px;
            height: 212px;
            margin-bottom: 20px;
            float: left;
            background: #dbdbdb;
            position: relative;
        }
            .small-way-box a img{
                width: 360px;
                height: 212px;
            }
            .way-name{
                position: absolute;
                top: 40px;
                left: 40px;
                color: #fff;
                height: 25px;
                font-size: 24px;
            }
            .love-member{
                height: 22px;
                position: absolute;
                padding: 0 12px 0 30px;
                bottom: 40px;
                right: 40px;
                border-radius: 12px;
                font-size: 14px;
                color: #37a8cd;
                line-height: 22px;
                background:url("../img/love-icon.png") no-repeat #fff;
                background-position: 10px 0;
            }
/**查看更多**/
    .see-more-way{
        height: 110px;
        padding: 60px 0;
    }
        .see-more-way-container{
            width: 1120px;
            margin: 0 auto;
            text-align: center;
             color: #555;
        }
            .ad-text{
                font-size: 18px;
                padding-top: 16px;
                padding-bottom: 12px;
            }
            .see-more-icon{
                font-size: 18px;
            }

                .see-more-icon span{
                    display: inline-block;
                    position: relative;
                    padding-left: 47px;
                    height: 37px;
                    line-height: 37px;
                }
                    .see-more-icon-img{
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    .see-more-icon span a{

                    }





/*foot**/
.footer{background: #555;color:#9f9f9f;}
.footer .footer-column{border-left:1px solid #414141;color:#d3d3d3;}
.footer .footer-column dl dt{color:#858585;}
.footer .footer-column dl dd a{color:#bdbdbd;}

.footer .footer-logo .copyright a{color:#9f9f9f;}
.footer{height:340px;text-align: center;}
.footer .footer-wrapper{padding-top: 45px; width: 1120px; margin: 0 auto;}
.footer .footer-logo{float: left;margin-left: 2%;margin-right: 2%;}
.footer .footer-logo .copyright{margin-top: 55px;line-height: 150%;}
.footer .footer-column{height:190px;float:left;text-align: left;font-size:12px;font-family:'Microsoft YaHei';line-height: 24px;padding: 0 25px;}
.footer .footer-column a:hover{text-decoration: underline;}
.footer .statistics a img{display: none;}



.fl{
    float: left;
}
.fr{
    float: right;
}
.mr20{
    margin-right: 20px;
}
.blue{
    color: #14d0ff;
}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}