*{
    margin: 0;
    padding: 0;
}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 'Microsoft YaHei',Tahoma,Helvetica,SimSun,sans-serif,arial,\5b8b\4f53;color:#333;outline:0;}
li{list-style: none;}
a{text-decoration: none;}
/***顶部导航***/
.wrap{
    min-width: 1120px;
    min-height: 1220px;
}
.top-bar {
    width: 100%;
    height: 35px;
    background: #333
}

.top-bar .top-bar-inner {
    width: 1120px;
    line-height: 35px;
    margin: 0 auto
}

.top-bar a {
    padding: 0 20px;
    color: #999;
    border-left: 1px solid #999
}
.top-bar a:hover{
    color: #de0010;
}

.top-bar a.first {
    padding: 0 20px 0 0;
    border: none;
}

.top-bar .mobile-icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 10px;
    height: 15px;
    margin: 0 5px 0 0;
    background: url(../img/mobile.png) no-repeat;
}

.header{
    height: 99px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}
    .header-logo{
        height: 99px;width: 151px;
        background: url("../img/header-logo.png") no-repeat;
        display: block;
        float: left;
    }
    .header-container{
        width: 1120px;
        margin: 0 auto;
    }
        .input-box{
            height: 30px;
            width: 188px;
            border: 1px solid #e2e2e2;
            border-radius: 30px;
            float: left;
            margin-left: 26px;
            margin-top: 30px;
            position: relative;
        }
            .input-box input{
               border: none;
                height: 20px;
                width: 100px;
                padding:5px  30px 5px 0;
                color: #aaa;
                margin-left: 15px;
                line-height: 20px;
            }
            .detail-search-icon{
                height: 20px;
                width: 20px;
                background: url("../img/detail-search-icon.png") no-repeat;
                position: absolute;
                right:8px;
                top: 5px;
                display: block;
            }
            .op-btn{
                width: 122px;
                height: 32px;
                float: right;
                margin-top: 30px;
            }
                .btn{
                    width: 53px;
                    height: 28px;
                    border: 2px solid #37a8cd;
                    display: block;
                    float: left;
                    color: #777;
                    font-size: 14px;
                    line-height: 28px;
                    text-align: center;
                    border-radius: 4px;
                }

.way-header{
    background: #f6f6f6;
    height: 450px;
    padding: 30px 0;
    border-top: 1px solid #e7e7e7;
}
    .way-header-container{
        width: 1060px;
        height: 390px;
        margin: 0 auto;
        background: #fff;
        padding: 30px;
    }
    .img-box{
        position: relative;
        height: 390px;
        width: 520px;
        float: left;
        margin-right: 30px;
    }
        .img-box img{
            height: 390px;
            width: 520px;
        }
        .img-box:after{
            content: '';
            display: block;
            height: 0;
            width: 0;
            border: 20px solid transparent;
            border-right-color: #fff;
            /*border-bottom: 100px solid red;*/
            /*border-right: 100px solid transparent;*/
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -10px;
        }
    .brief-info-box{
        height: 390px;
        width: 510px;
        float: left;
    }
        .brief-info-title{
            font-size: 30px;
            color: #333;
            padding-bottom: 22px;
        }
        .brief-info-text{
            font-size: 14px;
            line-height: 26px;
            padding-bottom: 30px;
        }
            /*查看更多文字*/
            #big-text-box{
                font:14px 'Microsoft YaHei',Tahoma,Helvetica,SimSun,sans-serif,arial,\5b8b\4f53;
                color:#333;
                padding: 30px;
                line-height: 28px;
                height: 145px;
                width: 558px;
                padding-right: 0;

            }
                #big-text-p{
                    overflow: scroll;
                    height: 145px;
                    overflow-x:hidden;
                    padding-right: 30px;
                }
                #big-text-title{
                    font-size: 16px;
                    font-weight: bold;
                }
        .underline{
            height: 1px;
            background-color: #dbdbdb;
            border: none;
        }
        .way-length{
            padding: 21px 0;
            height: 78px;
        }
            .way-length-icon{
                height: 72px;
                width: 72px;
                border: 3px solid #dbdbdb;
                border-radius: 72px;
                font-size: 24px;
                color: #777;
                line-height: 72px;
                text-align: center;
                float: left;
            }
            .way-length-number{
                padding-top: 18px;
                font-size: 30px;
                width: 150px;
                float: left;
                margin-left: 30px;
            }
                .way-length-number span{
                    font-size: 14px;
                }
            .brief-sub-info-box{
                /*width: 183px;*/
                height: 42px;
                margin-top: 18px;
                float: right;
                background: #37a8cd;
                border-radius: 22px;
                display: inline-block;
            }
                .arrived{
                    height: 16px;
                    /*width: 61px;*/
                    float: left;
                    padding: 5px 0;
                    padding-left: 20px;
                    margin-top: 9px;
                    margin-left: 15px;
                    background:url("../img/icon-1.png") no-repeat;
                    background-position: 0 5px;
                    color: #fff;
                    font-size: 14px;
                    padding-right: 10px;
                    border-right: 1px solid rgba(255,255,255,0.3);
                    cursor: pointer;
                }
                .want-to{
                    height: 16px;
                    /*width: 61px;*/
                    float: left;
                    padding: 5px 0;
                    padding-left: 20px;
                    margin-top: 9px;
                    margin-left: 10px;
                    background:url("../img/icon-2.png") no-repeat;
                    background-position: 0 5px;
                    color: #fff;
                    font-size: 14px;
                    padding-right: 15px;
                    cursor: pointer;
                }

        .brief-info-box-bottom{
            padding-top: 27px;
            height: 73px;

        }
            .brief-info-box-bottom li{
                height: 59px;
                width: 169px;
                text-align: center;
                float: left;
                padding-top: 14px;
            }
                .box-bottom-number{
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .box-bottom-text{
                    font-size: 14px;
                    color: #777777;
                 }
/*****主体容器********/
.main-container{
    padding-top: 30px;
    width: 1120px;
    margin: 0 auto;
    padding-bottom: 100px;
}
    /********左侧内容*********/
    .main-content{
        width: 798px;
        padding-left: 42px;
        float: left;
        min-height: 100px;
    }
        /**************/
        .content-list{
            border-left: 1px solid #e2e2e2;
            margin-bottom: 33px;
        }
            .content-list li{
                padding-bottom: 55px;
                padding-left: 59px;
                padding-top: 32px;
                padding-right: 30px;
                position: relative;
            }
                .local-icon{
                    display: block;
                    width: 82px;
                    height: 133px;
                    position: absolute;
                    top: 0;
                    left: -43px;
                    background: url("../img/icon-3.jpg") no-repeat;
                    text-align: center;
                    font-size: 22px;
                    color: #fff;
                    line-height: 74px;
                }
                .section-title{
                    font-size: 16px;
                    padding-bottom: 25px;
                }
                    .race-tip{
                        margin-left: 50px;
                    }
                    .step-detail{
                        padding-left: 30px;
                    }
                        /*****块内人4大内容****/
                        .step-detail li{
                            position: relative;
                            padding: 0;
                            font-size: 14px;
                            line-height: 28px;
                            color: #777;
                            padding-bottom: 30px;
                        }
                        .step-icon{
                            display: block;
                            position: absolute;
                            height: 24px;
                            width: 24px;
                            left: -30px;
                            top: 0;
                        }
                        .pointer{
                            background: url("../img/step-icon-1.png") no-repeat;
                        }
                        .sight{
                            background: url("../img/step-icon-2.png") no-repeat;
                        }
                        .eat{
                            background: url("../img/step-icon-3.png") no-repeat;
                        }
                        .attention{
                            background: url("../img/step-icon-4.png") no-repeat;
                        }
            .content-list li.useful-tip-list{
                            padding-bottom: 10px;
            }
            .useful-tip-list p{
                padding-left: 30px;
                font-size: 14px;
                color: #777;
                line-height: 28px;
            }
                .useful-tip-icon{
                    display: block;
                    width: 82px;
                    height: 133px;
                    position: absolute;
                    top: 0;
                    left: -43px;
                    background: url("../img/gonglue-icon.jpg") no-repeat;
                    text-align: center;
                    font-size: 22px;
                    color: #fff;
                    line-height: 74px;
                }
                .useful-tip-list p strong{
                    color: #333;
                }
        /*****版权********/
        .banquan{
            padding:25px 60px 25px 30px;
            border: 1px solid #eaeaea;
        }
            .banquan-title{
                font-size: 16px;
                padding-left: 23px;
                height: 24px;
                position: relative;
                line-height: 24px;
                background: url("../img/banquan-icon.png") no-repeat;
                margin-bottom: 25px;
            }
            .banquan p{
                font-size: 14px;
                line-height: 30px;
            }

/***右侧内容***/
.side-bar{
    width: 280px;
    float: right;
}
    .race-way-img{
        border: 1px solid #eaeaea;
        width: 238px;
        height: 255px;
        padding: 20px;
        margin-bottom: 28px;
    }
        .race-way-img h1{
            font-size: 16px;
            padding-bottom: 20px;
        }
            .race-way-img-box{
                width: 240px;
                height: 220px;
                background: #d0e9c6;
                position: relative;
            }
            .race-way-img-box img{
                width: 240px;
                height: 220px;
            }
                .img-tab{
                    width: 80px;
                    height: 30px;
                    background: #fff;
                    border-radius: 4px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    box-shadow: 1px 1px 5px #777;
                    text-align: center;
                    line-height: 30px;
                    color: #777;
                }
                .img-tab a{
                    color: #777;
                }
                .img-tab a.select-tab{
                    color: #333;
                }
            .look-big-img{
                color: #de0010;
                font-size: 12px;
                display: block;
                float: right;
                cursor: pointer;
                font-weight: 100;
            }
            #big-img{
                width: 1120px;
                height: 919px;
            }
                .close-btn{
                    height: 23px;
                    width: 23px;
                    background: url("../img/from-close-icon.png") no-repeat;
                    position: absolute;
                    right: -6px;
                    top: -6px;
                    cursor: pointer;
                }
    /**相关路线**/
    .relate-way{
        border: 1px solid #eaeaea;
        width: 238px;
        padding: 20px;
        margin-bottom: 28px;
    }
        .relate-way h1{
            font-size: 16px;
            color: #333;
            padding-bottom: 12px;
        }
            .relate-way h1 a{
                color: #333;
            }
            .relate-way h1 a:hover{
                color: #de0010;
            }
            .relate-way-list li{
                position: relative;
                padding-bottom: 18px;
                padding-top: 20px;
                border-bottom: 1px solid #dbdbdb;
                padding-left: 70px;
            }
                .lc{
                    padding: 5px;
                    border: 1px solid #37a8cd;
                    width: 40px;
                    position: absolute;
                    top: 20px;
                    left: 0;
                    text-align: center;
                    font-size: 18px;
                    border-radius: 4px;
                    line-height: 24px;
                }
                    .lc-location-icon {
                        display: inline-block;
                        height: 18px;
                        width: 18px;
                        background: url("../img/lc-location-icon.png") no-repeat;
                        position: relative;
                        top: 3px;
                    }
                    .lc-time-icon{
                        display: inline-block;
                        height: 18px;
                        width: 18px;
                        background: url("../img/clock.png") no-repeat;
                        position: relative;
                        top: 3px;
                    }
            .relate-way-list p{
                line-height: 24px;
            }
                .relate-way-list p span{
                    font-size: 12px;
                    color: #777;
                    padding: 0 5px;
                }










    .section-way{
        border: 1px solid #eaeaea;
        width: 258px;
        height: 464px;
        overflow: hidden;
        padding: 20px;
        margin-bottom: 28px;
        padding-right: 0;
    }

        .section-way h1{
            font-size: 16px;
            padding-bottom: 20px;

        }
        /**滚动窗口**/
        .scroll-box{
            height: 414px;
            overflow: hidden;
            position: relative;
        }
            .scroll-cont{
                position: absolute;
                top: 0;
                left: 0;
            }
            .scroll-toolbar{
                width: 3px;
                height: 99%;
                background: #fff;
                top: 0;
                right: 0;
                position: absolute;
                /*display: none;*/
            }
                .scroll-toolbar div{
                    width: 8px;
                    height: 250px;
                    position: absolute;
                    border-radius: 5px;
                    right: 0;
                    background: #ccc;
                    cursor: pointer;
                }

                /**鼠标在上面才出现tooL-bar**/
                /*.section-way:hover .scroll-toolbar{*/
                    /*display: block;*/
                /*}*/
        .section-way-list li {
            width: 208px;
            padding: 8px 10px 8px 20px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #777;
        }
        .section-way-list li:nth-child(odd){
            background: #f7f7f7;
        }
            .destination{
                display: inline-block;
                height: 30px;
                border-right: 1px solid #dedede;
                padding-right: 14px;
                margin-right: 10px;
            }
                .destination a{
                    color: #777;
                }
                .destination a:hover{
                    color: #de0010;
                }
            .far-number{
                font-size: 18px;
                font-weight: bold;
                color: #333;
            }







.hidden{
    display: none;
}
/*foot**/
.footer{background: #555;color:#9f9f9f;}
.footer .footer-column{border-left:1px solid #414141;color:#d3d3d3;}
.footer .footer-column dl dt{color:#858585;}
.footer .footer-column dl dd a{color:#bdbdbd;}

.footer .footer-logo .copyright a{color:#9f9f9f;}
.footer{height:340px;text-align: center;}
.footer .footer-wrapper{padding-top: 45px; width: 1120px; margin: 0 auto;}
.footer .footer-logo{float: left;margin-left: 2%;margin-right: 2%;}
.footer .footer-logo .copyright{margin-top: 55px;line-height: 150%;}
.footer .footer-column{height:190px;float:left;text-align: left;font-size:12px;font-family:'Microsoft YaHei';line-height: 24px;padding: 0 25px;}
.footer .footer-column a:hover{text-decoration: underline;}
.footer .statistics a img{display: none;}





/**两边有边框**/
.side-border{
    border-right: 1px solid #787878;
    border-left: 1px solid #787878;
}
.red{
    color: #de0010;
}
.mr8{
    margin-right: 8px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}