.content{
    background: url("../img/tip-background.png") #ececec no-repeat;
    background-position: center center;
    background-size: 100%;
}
    .tip{
        margin-top: 12rem;
    }
    .button.button-big{
        position: absolute;
        left: 50%;
        margin-left: -4.75rem;
        top: 50%;
        width: 9.5rem;
        border-radius: 4px;
        border: none;
        background: #818181;
        color: #fff;
        font-size: 0.9rem;
    }