*{
    margin: 0;
    padding: 0;
}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 'Microsoft YaHei',Tahoma,Helvetica,SimSun,sans-serif,arial,\5b8b\4f53;color:#333;outline:0;}
li{list-style: none;}
a{text-decoration: none;}
img{
    border: none;
    width: 100%;
    display: block;
}
.container{
    width: 100%;
    background: #000;
}
    .main div div{
        opacity: 0.9;
    }
    .main div div:hover{
        opacity: 1.0;
    }
    .main{
        width: 100%;
        margin: 0 auto;
    }
    .banner{
        width: 100%;
        margin: 0 auto;
    }
    .ad{
        margin-top: 2px;
       position: relative;
    }
        .ad-1{
            width: 49.5%;
            float: left;
        }
        .ad-2{
            width: 50%;
            float: right;
        }
        .ad-3{
            position: absolute;
            width: 50%;
            right: 0;
            bottom: 0;
        }
        /*.ad div{*/
            /*width: 33.1%;*/
            /*align-content:stretch;*/
        /*}*/
        /*.ad div.mid{*/
        /*}*/
        .section-tab{
            height: 30px;
            background: #135dbc;
            margin-top: 2px;
            /*margin-bottom: 2px;*/
            color: #fff;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
        }
    .item-list{
        /*width: 100%;*/

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }    
    .item-list div{
        /*width: 49.5%;*/
        /*float: left;*/
        width: 33.1%;
        margin-top: 2px;
        align-content:stretch;
    }
    .item-list div.mr{
        /*float: right;*/
    }
    .classical-contain{
        margin-top: 2px;
        position: relative;
    }
        .gonglu{
            float: left;
            width: 49.5%;
        }
        .shandi{
            width: 49.5%;
            position: absolute;
            bottom: 0;
        }
        .lvxing{
            width: 50%;
            float: right;
        }
    .others{
        margin-top: 2px;
    }
    .others div{
        width: 33%;
        float: left;
    }
    .others div.mid{
        width: 33%;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }



.mr2{
    margin-right: 2px;
}

.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}