*{
    margin: 0;
    padding: 0;
}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 'Microsoft YaHei',Tahoma,Helvetica,SimSun,sans-serif,arial,\5b8b\4f53;color:#333;outline:0;}
li{list-style: none;}
a{text-decoration: none;}
img{
    border: none;
}
.container{
    min-width: 1188px;
    background: url("../img/bg.png") no-repeat #fff;
    background-position: center 0;
}
    .main div div{
        opacity: 0.9;

    }
    .main div div:hover{
        opacity: 1.0;
    }
    .main{
        width: 1188px;
        margin: 0 auto;
        background: #000;
    }
    .banner{
        width: 1188px;
        height: 414px;
        margin: 0 auto;
    }
    .ad{
        height: 206px;

    }
        .ad div{
            width: 395px;
            height: 206px;
            float: left;
        }
        .ad div.mid{
            width: 394px;
            margin-left: 2px;
            margin-right: 2px;
        }
        .section-tab{
            height: 44px;
            background: #135dbc;
            margin-top: 2px;
            margin-bottom: 2px;
            color: #fff;
            line-height: 44px;
            text-align: center;
            font-size: 20px;
        }
    .item-list{
        height: 698px;

    }    
    .item-list div{
        height: 347px;
        width: 295px;
        float: left;
        margin-top: 2px;
    }
    .classical-contain{
        margin-top: 2px;
    }
        .gonglu{
            float: left;
            height: 282px;
            width: 594px;
        }
        .shandi{
            float: left;
            height: 282px;
            width: 594px;
        }
        .lvxing{
            width: 593px;
            height: 566px;
            float: right;
        }
    .others{
        margin-top: 2px;
    }
    .others div{
        width: 395px;
        height: 292px;
        float: left;
    }
    .others div.mid{
        width: 394px;
        margin-left: 2px;
        margin-right: 2px;
    }


.mr2{
    margin-right: 2px;
}
.mr3{
    margin-right: 3px;
}

.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}