@import url('common.less');
//一用
@import url('relativeShop.less');
.main-wrap{
	padding-top: 40px;
	background: #f4f4f4;
	min-height: 500px;
}
.success-content{
	width: 1120px;
	height: 243px;
	background: #fff;
	margin: 0 auto;
	//margin-top: 40px;
	.item-img{
		width: 243px;
		height: 243px;
		display: block;
		float: left;
	}
	.info-container{
		width: 820px;
		float: left;
		height: 122px;
		padding-top: 67px;
		padding-bottom: 54px;
		margin-left: 57px;
		position: relative;
		p{
			width: 400px;
			line-height: 28px;
			font-size: 16px;
		}
		h1{
			font-size: 24px;
			color: #71b801;
		}
		.op-btn{
			width: 293px;
			height: 38px;
			position: absolute;
			right: 25px;
			top: 103px;
			a{
				display: inline-block;
				height: 38px;
				width: 140px;
				margin-left: 13px;
				background: #de0010;
				border-radius: 4px;
				color: #fff;
				font-size: 16px;
				line-height: 38px;
				text-align: center;
			}
			a.continue{
				height: 36px;
				width: 138px;
				margin-left: 0;
				border:1px solid #b6b6b6;
				background: #fff;
				color: #333;
				line-height: 36px;
			}
		}
	}
}